figcaption {
    margin: 8px 0;
}

figcaption p {
    font-size: 11px;
    line-height: 16px;
}

.gist table {
    margin-bottom: 0 !important;
}
.gist td {
    background: white !important;
    border: none !important;
}

.gist td.highlighted {
    background: rgba(66, 139, 202, 0.3) !important;
}

.gist td.highlighted ~ td {
    background: rgba(66, 139, 202, 0.3) !important;
}
