<h2>Articles</h2>

<article class="post" ng-repeat="article in acs.articles">
	<header>
		<div class="title">
			<h3><a ui-sref="article({aname:'{{article.link}}',link:'{{article.link}}.html',title:'{{article.title}}'})">{{article.title}}</a></h3>
 			<span>{{article.subtitle}}</span>
			<a ui-sref="article({aname:'{{article.link}}',link:'{{article.link}}.html',title:'{{article.title}}'})" class="image fit thumb"><img src="images/articles/{{article.featureImg}}" alt="" /></a>
		</div>
	</header>
	<br/>
</article>
