<h2>Projects</h2>

<article class="post" ng-repeat="project in pc.projects">
    <header>
        <div class="title">
            <h3><a ui-sref="project({pname:'{{project.link}}',link:'{{project.link}}.html',name:'{{project.name}}',tech:'{{project.tech}}'})">{{project.name}}</a></h3>
            <a ui-sref="project({pname:'{{project.link}}',link:'{{project.link}}.html',name:'{{project.name}}',tech:'{{project.tech}}'})" class="image fit thumb"><img src="images/projects/{{project.featureImg}}" alt="" /></a>
        </div>
    </header>
    <br/>
</article>
