<div class="post">
	<header>
		<div class="title">
			<h2>Dan Frakes</h2>
			<p>Full Stack Software Developer</p>
		</div>
		<div class="meta">
			<p>dpfrakes@gmail.com</p>
		</div>
	</header>
	
	<h3>Profile Summary</h3>
	<p>Software engineer with 3 years of experience in multi-tiered enterprise web application development, native Android and hybrid mobile app development and testing, and mobile website optimization.  Current MS candidate in Georgia Tech OMSCS program specializing in Interactive Intelligence.  Proven self-starter and eager learner.</p>
	<h3>Software Experience</h3>
	<p>HTML5 · CSS3 · JavaScript · AngularJS · Java · J2EE · Spring · PL/SQL · SQL · Python · Cordova · Ionic · Bash · jQuery · Karma · Jasmine · Node · Gulp · Sass · JSP · JDBC · JSON/XML · Android · PhoneGap · OS X · Windows 7/8/10 · Unix · Linux (CentOS · Ubuntu) · IntelliJ IDEA (IntelliJ · WebStorm · Android Studio · PyCharm) · Eclipse IDE · Git · SVN · Jenkins · Travis CI · GitHub · GitLab · REST</p>
	
	<h3>Job Experience</h3>
	<h4>Technical Consultant | Blackstone Technology Group | January 2016 - present</h4>
	<span>Arvest - Mobile Site Optimization</span>
	<ul>
		<li>Leverage and expand upon existing PHP website framework</li>
		<li>Optimize UI for Android, iOS, and Windows mobile devices</li>
	</ul>
	<span>Parallel 6 - Hybrid Mobile App and JavaScript SDK</span>
	<ul>
		<li>Develop JavaScript SDK based on client API library</li>
		<li>Develop Cordova plugin to encapsulate native API, device info, and SDK functionality</li>
		<li>Develop Ionic mobile app that implements majority of Parallel 6’s API platform</li>
	</ul>
	<span>Trellis - Energy Transaction Management System</span>
	<ul>
		<li>Automate and document developer environment setup</li>
		<li>Define business process optimization opportunities and potential implementations</li>
		<li>Refactor legacy front-end code and develop new functionality in full stack</li>
	</ul>
	<h4>System Developer Senior Analyst | Accenture Federal Services | October 2013 – December 2015</h4>
	<span>USPS - Product Tracking and Reporting</span>
	<ul>
		<li>Develop and maintain large database of live and historical postage data</li>
		<li>Integrate Oracle SQL database with Informatica input feeds using JDBC/Spring</li>
		<li>Develop GUI dashboard for monitoring team</li>
		<li>Investigate and triage software incidents</li>
		<li>Compile requirements, design, testing, and approval documentation (SDLC)</li>
	</ul>
	
	<h3>Education</h3>
	<h4>Master of Science in Computer Science | Georgia Institute of Technology | December 2018 (expected)</h4>
	<ul>
		<li>Software Development Process</li>
		<li>Knowledge-Based Artificial Intelligence</li>
		<li>Computational Photography</li>
		<li>Introduction to Health Informatics</li>
	</ul>
	<h4>Bachelor of Music in Music Education and Instrumental Performance | Bowling Green State University | May 2013</h4>
	<ul>
		<li>Magna Cum Laude - 3.88 GPA</li>
		<li>Dean’s List - 8 semesters</li>
		<li>6 scholarships</li>
	</ul>

	<h3>Honors and Awards</h3>
	<ul>
		<li>Blackstone CREDO Award, 2016 Q1 - April 2016</li>
		<li>Accenture Performance Award: Collaborates Effectively - August 2015</li>
		<li>Promotion to Analyst - November 2014</li>
		<li>Accenture Performance Award: Develops Self and Others - May 2014</li>
		<li>Eagle Scout Award - June 2009</li>
	</ul>
</div>
